<ul class="cards7">

<% @posts.each do |post| %>

    <%= link_to post_path(post) do %>

        <!-- webのテンプレートを利用しました -->
        <li class="card7">

        <!-- carrierwaveでサムネイル画像を作りはしましたが、まだ外部のデータベースに画像を保存
        するようにはしていなく、herokuでは画像が消えてしまうので、とりあえず全てデフォルトの画像
        にしています-->
        <% if post.avatar? %>
            <div class="card__image-holder"> <img class="card__image" src="<%= post.avatar.url %>" alt="サムネイル画像"> </div>
        <% else %>
            <div class="card__image-holder"> <img class="card__image" src="/assets/default.png" alt="サムネイル画像"> </div>
        <% end %>
    
            <div class="card-title"> 
                <span class="left"></span>
                <span class="right"></span>
                </a>
                <p class="card_timecategory"><time class="pubdate entry-time dfont" itemprop="datePublished" datetime="2021-10-16"><%= post.created_at %></time></p>
                
                <p class="card_htitle"><%= post.title %></p>
                <% post.tags.order(:priority_number).each do |tag| %>
                <span class="card_htitle font_size"><%= "#{tag.name}" + "　" %></span>
                <% end %>

            </div>
        </li>
    <% end %>
<% end %>

<%= paginate(@posts) %>